.header {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	white-space: nowrap;
	align-items: center;
	border: 1px solid black;
}

.header p {
	font-size: 25px;
	margin: auto;
	border-radius: 5px;
	padding: 0.5% 15%;
}
